# Node modules folder
node_modules/

# Environment variables file
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Build outputs
dist/
build/

# Optional: Ignore IDE/editor config files
.vscode/
.idea/
